body {
    margin: 20px;
    font-family: Arial, "メイリオ", serif;
    background: linear-gradient(-45deg, rgb(195, 55, 100), rgb(29, 38, 113));
    background-size: cover;
}

.content {
    margin: 0 auto;
    width: 680px;
}

@media (max-width: 680px) {
    .content {
        width: 520px;
    }
}

@media (max-width: 420px) {
    .content {
        width: 380px;
    }
}
