body {
    margin: 20px;
    font-family: Arial, "メイリオ", serif;
    color: #454545;
}

.content {
    margin: 0 auto;
    width: 680px;
}

@media (max-width: 680px) {
    .content {
        width: 520px;
    }
}

@media (max-width: 420px) {
    .content {
        width: 380px;
    }
}
