.listContainer {
    list-style: none;
    padding: 50px;
}

.listCategory {
    background: #fff;
}

.listCategory:not(:first-child) {
    margin-top: 20px;
}

.listSkillLabel {
    margin-bottom: 12px;
    border-bottom: 1px solid #bb66d070;
    color: #bb66d0bd;
    padding: 5px;
    min-width: 120px;
    z-index: 10;
}

.itemSkill {
    display: inline-flex;
    margin-left: 0;
    color: #9606b9d1;
    border-radius: 10px;
    border: 1px solid #9606b970;
    padding: 3px 8px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.listFrameworkLabel {
    margin-bottom: 12px;
    border-bottom: 1px solid #66d0c770;
    color: #66d0c7bd;
    padding: 5px;
    min-width: 120px;
    z-index: 10;
}

.itemFramework {
    display: inline-flex;
    margin-left: 0;
    color: #0cbdafd1;
    border-radius: 10px;
    border: 1px solid #0cbdaf70;
    padding: 3px 8px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.listToolLabel {
    text-align: left;
    margin-bottom: 12px;
    border-bottom: 1px solid #c2a41370;
    color: #c2a413bd;
    padding: 5px;
    min-width: 120px;
    z-index: 10;
}

.itemTool {
    display: inline-flex;
    margin-left: 0;
    color: #ab8e05d1;
    border-radius: 10px;
    border: 1px solid #b0941070;
    padding: 3px 8px;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.listItem {
    position: relative;
    padding: 40px;
    top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 0 8px gray;
    background: #fff;
    z-index: 3;
    border-radius: 3px;
}

.skillContainer {
}

.portfolioItem {

}

.projectLabel {
    margin-bottom: 12px;
    border-bottom: 1px solid #56565670;
    color: #565656bd;
    padding-bottom: 5px;
    min-width: 120px;
    z-index: 10;
}

.projectTitle {
    margin-left: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.projectDetail {
    margin-left: 1em;
    font-size: 12px;
}

