.footer {
    position: relative;
    background: #dedede;
    width: 680px;
    opacity: 0.8;
    bottom: 0;
    margin: 0 auto;
    height: 90px;
}

@media (max-width: 680px) {
    .footer {
        width: 520px;
    }
}

@media (max-width: 420px) {
    .footer {
        width: 380px;
    }
}
