nav {
    height: 100%;
}
nav > ul {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 2em;
    list-style: none;
    border-bottom: 1px solid #fff;
}

nav > ul > li {
    display: inline-flex;
    text-align: center;
    height: 100%;
    width: 25%;
}

nav > ul > li > a {
    text-decoration: none;
    font-family: "Palatino Linotype", serif;
    font-size: 1.2em;
    color: #eee;
    width: 100%;
    height: 100%;
}

nav > ul > li > a:hover {
    font-size: 1.5em;
}

nav > ul > li > a > span {
    position: relative;
    top: 25%;
    bottom: 25%;

}

.header {
    position: relative;
    top: 0;
    background: transparent;
    margin: 0 auto 20px auto;
    width: 680px;
    height: 50px;
    display: block;
}

@media (max-width: 680px) {

    .header {
        width: 520px;
    }
}

@media (max-width: 420px) {
    .header {
        width: 380px;
    }
}


